@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.header{
    width: 100%;
    box-shadow: 0px 0px 5px black;
}

.content{
    max-width: 1770px ;
    margin:auto;
}
.heder__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
    
}
.header__nav{
    display: flex;
}

.header__nav li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    


}
.swiper{
    position: relative;
}

.header__nav li {
    list-style: none;
}

.header__nav li:not(:last-child) {
    margin-right: 85px ;
}

nav{
    display: flex;
}
nav img{
    margin-left: 85px ;
}

/* .swiper{
    width: 1770px ;
    width: 620px;
} */

.content__info{
    position: absolute ;
    color: white;
    width: 837px;
    top:100px;
    left: 80px;
    z-index: 5;
}
.slider{
    position: relative;
}

.content__info h1{
    font-weight: 800;
    font-size: 70px;
    margin-bottom:24px ;
}
.content__info h3{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 90px;
    
   
}
.content__btn{
    
    padding-bottom:25px ;
    padding-top: 25px ;
    padding-left: 37px;
    padding-right: 37px;
    background-color:#FF9900 ;
    color: white;
    font-weight: 700;
    font-size: 23px ;
    border: none;
}

.swiper-pagination-bullet{
    
    background: white;
    width: 15px;
    height: 15px;
    
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
}

.swiper{
    position: relative;
}
.slider{
    margin-bottom: 100px;
}

.about-us{
    margin-bottom: 100px;
}
.about-us__title{
    font-weight:400 ;
    font-size: 48px ;
    margin-bottom: 20px;
}
.about-us__text{
    font-weight:400 ;
    font-size: 16px ;
    max-width: 1235px;
    /* margin-bottom: 50px; */
    line-height: 30px;
}
/* 
.about-us__moreinfo{
    display: flex;
}
.about-us__img {
    width: 868px;
    height:622px ;
    border: 5px solid red;
    border-image: url(../img/Rectangle.jpg);
    
}
.img__info{
    display: flex;
    max-width:868px ;
    background-color: #000000;
    opacity: 0.5;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    
    
    
    
}
.img__info h3{

    color: white;
    font-weight:700 ;
    font-size: 16px;
    width: 454px;
    padding: 50px 0px 50px 50px ;

}
.img__info button{
    font-size: 16px;
    width: 175px ;
    height: 60px;
    color: white;
    border:3px solid #FF9900;
    background: transparent;
    
    margin: 50px 50px 50px 0px ;

    /* padding: 20px 38px 20px 38px; */

/* }

.img_img{
    max-width: 868px;
    

}

.about-us__img{
    border-image: url(../img/Rectangle.jpg);
}  */

.info_more{
    width: 866px ;
    height: 622px ;
    position: relative;
}
.info-img{
    position: absolute;
    
}

.border-info{
    display: flex;
    width:868px ;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}
.border-info H3{
    
    color: white;
    font-weight:700 ;
    font-size: 16px;
    width: 454px;
    padding: 50px 0px 50px 50px ;
    line-height: 30px;


}
.border-info button{
    font-size: 16px;
    width: 175px ;
    height: 60px;
    color: white;
    border:3px solid #FF9900;
    background: transparent;
    
    margin: 50px 50px 50px 0px ;
}
.block_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.first-table{
    width: 870px;
    height: 295px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
}

.first-table__img{
    width: 190px ;
    height: 165px;
    margin-right:50px ;
    margin-left: 60px ;

}
.first-table__letters>h3{
    margin-top: 20px;
    font-size: 24px;
}

.first-table__letters>p{
    font-weight:400 ;
    font-size: 16px ;
    max-width: 1235px;
    line-height: 30px;
    width: 412px; ;
}
.second{
    margin-top: 32px;
}

.steps{
    display: flex;
}
.steps>li{
    list-style: none; 
    margin-top: 30px;
    margin-bottom: 35px;
}
.active-non{
    text-decoration: none;
    color:black;
    font-size:18px;
    margin-right: 85px;
   
}
.active{
    text-decoration: none;
    color:#FF9900;
    font-size:18px;
    margin-right: 85px;
}
.steps>li>a:hover{
    color: #FF9900;
}

h3{
    font-weight:700 ;
    font-size: 24px;

}


p{
    font-weight:400 ;
    font-size: 16px ;
    line-height: 30px;
}

.how-it-work__consultation{
    width: 758px;
}
.how-it-work__consultation>h3{
    margin-bottom: 10px ;
}
.first-btn{
    padding-bottom:20px ;
    padding-top: 20px ;
    padding-left: 37px;
    padding-right: 37px;
    background-color:#FF9900 ;
    color: white;
    font-weight: 700;
    font-size: 16px ;
    border: none;
}

.second-btn{
    font-size: 16px;
    width: 175px ;
    height: 60px;
    color: rgb(0, 0, 0);
    border:1px solid #000000;
    background: transparent;
    
    margin: 50px 50px 50px 0px ;
    margin-left: 32px;

}

.how-it-work__img>img{
    width: 870px;
    height: 460px;
    
}
.how-it-work__item{
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.how-it-work{
    margin-bottom:85px ;

}
.quest__points{
    /* width: 1770px; */

    
}
.hr-line {

	
	height: 3px;
	background-color:  rgb(189, 189, 189);
}
.contentpoint{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:40px ;
    margin-bottom:40px ;

}
.quest{
    margin-bottom: 114px;
}

.footerbg{
    width: 100%;
    background-color:#222222 ;
}
.footer{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.footer-nav>li{
    list-style: none;
    line-height:30px;

}
.footer-nav>li>a{
    text-decoration: none;
    color: #CACACA;

}
.footer-sotial{
    display: flex;
    margin-top:90px ;
    max-width:230px ;

}
.footer-sotial>a{
    margin-right:25px;
}
.logofooter {
    margin-bottom: 100px;
}
.color{
    color:#CACACA;
    margin-bottom: 25px;
}
.inputs>input{
    width:570px ;
    padding-top:14px ;
    padding-bottom:14px ;
    padding-left:24px ;
    background-color: #414141;
    border:none;
    color: #CACACA;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.inputs>input{
    margin-bottom: 25px;
}
.inputs>textarea{
    resize: none;
    padding-top:14px ;
    padding-bottom:14px ;
    padding-left:24px ;
    background-color: #414141;
    border:none;
    color: #CACACA;
    margin-bottom: 25px;
}

.footer-btn{
    padding:19px 52px 19px 52px;
}

.buttons-footer>label{
    color: #CACACA;
    margin-left: 22px;
}
.some-text{
    max-width:363px ;
    color: #CACACA;
    line-height: 30px;
}
.request{
    margin-bottom: 50px;
}
 .header__link{
    position: relative;
}
.header__link:hover::after{
    content:'';
    position: absolute;
    display: block;
    margin: 2px 0;
	padding: 0;
    width: 100%;
	height: 2px;
	background-color: #FF9900;
}

.header__link:focus{
    border:2px solid #FF9900;

}
.header__link:active{
    border:none;
    color:#FF9900 ;
}

.content__btn:hover{
    background-color: rgba(255,153, 0, 0.7);
}
.content__btn:focus{
    background-color: rgba(255,153, 0, 0.7);
}
.content__btn:active{
    background-color: rgb(225,103, 14);
}

.border__btn:hover{
    background-color: #FF9900;

}
.border__btn:focus{
    background-color: #FF9900;

}
.border__btn:active{
    background-color: rgb(225,103, 14);
    border-color: rgb(225,103, 14);

}

.first-btn:hover{
    background-color: rgba(255,153, 0, 0.7);

}
.first-btn:focus{
    background-color: rgba(255,153, 0, 0.7);

}
.first-btn:active{
    background-color:  rgb(225,103, 14);

}
.second-btn:hover{
    background-color:#666666 ;
    border-color: #666666;
    color:white ;

}
.second-btn:focus{
    background-color:#666666 ;
    border-color: #666666;
    color:white ;

}
.second-btn:active{
    background-color:#000000 ;
    border-color: #000000;
    color:white ;

}
.active-non:hover{
    color: #FF9900;
}
.active-non:focus{
    color: black;
    border:2px solid #FF9900;
}
.active-non:active{
    color: #E1670E;

}


.contentpoint{
    border-bottom: 2px solid #666666;
    border-top: 2px solid #666666;
    padding-top: 30px ;
    padding-bottom: 30px ;

}
.contentpoint:hover{
    color: #FF9900;
    border-color: #FF9900;
    
}
.contentpoint>img:hover{
    background-color: #FF9900;
    fill: white;

}

.contentpoint>img{
    padding: 10px ;
    background-color:#ECECEC ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.contentpoint:focus{
    color: #FF9900;
    border-color: #FF9900;
    
}
.contentpoint>img:focus{
    background-color: #FF9900;
    fill: white;

}
.contentpoint:active{
    color: #000000;
    border-color: #000000;
    
}
.contentpoint>img:active{
    background-color:#ECECEC ;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.inputs>input:hover{
    outline: 0;
    background-color: #666666;
}
.inputs>input:focus{
    outline: 0;
    background-color: #666666;
}

.inputs>input:active{
    outline: 0;
    background-color: #666666;
    
}
.inputs>textarea:hover{
    outline: 0;
    background-color: #666666;
}
.inputs>textarea:focus{
    outline: 0;
    background-color: #666666;
}

.inputs>textarea:active{
    outline: 0;
    background-color: #666666;
    
}
.hidden{
    display: none;
}
.one{
    display: flex;
}

.two{
    display:none
}
.three{
    display:none
}
.four{
    display:none
}

.displaynone{
    display: none;
}

.textdec{
    width: 1000px;
}
.header__burger{
    display: none;
}
@media (max-width:1024px){

    h1{
        font-size: 48px ;
    }
    p{
        font-size: 16px ;

    }
    span{
        font-size: 16px ;

    }
    .content{
        max-width: 924px;
    }
    .header__nav{
        display:none;
    }
    .header__burger{
        display: block;
    }
    .content__info h1{
        font-size: 60px;
    }
    .content__info h3{
        font-size:20px ;
        width:660px ;
    }
    .border-info H3{
        font-size: 16px ;
        width: 454px;

    }
    .imge_info{
        margin-bottom: 32px ;
        
    }
    
    .some-text{
        display:none;
    }
}